# Credentials
.env

# Environments
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data (Optional)
# Uncomment the line below if you don't want to share your raw posts
# data/raw_posts.json

# Streamlit
.streamlit/

# OS related
.DS_Store
Thumbs.db
